deploy_settings.php
system_settings.php
wp-content/themes/Arduino/WP_Arduino_SSO.php
wp-content/themes/Arduino/WP_Arduino_BAR.php
wp-content/themes/Arduino/Arduino_SSO.php
wp-content/themes/Arduino/Arduino_BAR.php
wp-config.php
wp-content/uploads/*
wp-content/plugins/uthsc-wpcas/caskey/*
.htaccess
.DS_Store
